.card-list{
    padding: 100px 175px;
    background: #442a2a;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.card{
    margin: 1rem;
    transition: all 0.4s ease;
}

.card:hover{
    transform: scale(1.03);
}

@media screen and (max-width: 600px) {
    .card-list{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    }
}