.details{
    background: #442a2a;
}
.agent-info{
    padding: 25px 1rem;
    margin-bottom: 1rem;
    color: #a77d7d;
}
.agent-info p{
    margin-bottom: 5px;
}
.portrait{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 999;
    top: 12rem;
}
.abilities-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.abilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abilities img{
    margin-bottom: 15px;
}
.abilities p{
    color: #a77d7d;
}

.bg {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .agent-info p{
        font-size: 10px;
    }

    .abilities img{
        width: 50%;
        height: auto;
    }
    .abilities p{
        font-size: 10px;
    }
}
