.home-title{
    position: absolute;
    z-index: 99;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(201, 42, 42);
    /* background-color: rgba(0, 0, 0, 0.7); */
}
.home-title h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home-title h4{
    font-size: 20px;
    text-transform: capitalize;
}

.home-video video{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media screen and (max-width: 600px) {
    .home-title{
        position: absolute;
        z-index: 99;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home-title h1{
        font-size: 18px;
    }
    .home-title h4{
        font-size: 10px;
    }
}