.navbar{
    /* position: fixed; */
    width: 100%;
    padding: 2rem;
    background-color: #d80000;
}
.navbar a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .navbar a{
        font-size: 13px;
    }
}