.footer-container{
    padding: 50px;
    background: #d80000;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.footer .first-footer h4{
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer .second-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-footer .button-link{
    margin: 5px;
    text-decoration: none;
}

.second-footer .button-link a{
    color: black;
}

.second-footer .button-link a:hover{
    color: #bbb2a7;
}

.third-footer ul{
    list-style: none;
}
.third-footer ul li{
    margin: 10px;
}
.third-footer ul li a{
    text-decoration: none;
    color: black;
}
.third-footer ul li a:hover{
    color: #bbb2a7;
}
@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer div{
        margin: 10px;
    }
}